.b { font-weight: bold; }

.green {color: green;}
/********** Generic Node Styles **********/
.nd{
  display:inline-block;
  width:15em;
  height:17.5em;
  position:relative;
  overflow:hidden;
  vertical-align:middle;
  -webkit-transform:rotate(-120deg);
     -moz-transform:rotate(-120deg);
      -ms-transform:rotate(-120deg);
       -o-transform:rotate(-120deg);
          transform:rotate(-120deg);
}

.nd-pan1{
  width:15em;
  height:17.5em;
  top:0;
  left:0;
  position:absolute;
  overflow:hidden;
  -webkit-transform:rotate(60deg);
     -moz-transform:rotate(60deg);
      -ms-transform:rotate(60deg);
       -o-transform:rotate(60deg);
          transform:rotate(60deg);
}
.nd-pan2{
  width:15em;
  height:17.5em;
  top:0;
  left:0;
  position:absolute;
  overflow:hidden;
  -webkit-transform:rotate(60deg);
     -moz-transform:rotate(60deg);
      -ms-transform:rotate(60deg);
       -o-transform:rotate(60deg);
          transform:rotate(60deg);
}
.nd-round{
  width:17em;
  height:17em;
  top:0.25em;
  left:-1em;
  position:absolute;
  overflow:hidden;
  -webkit-border-radius:50%;
     -moz-border-radius:50%;
          border-radius:50%;
}
.nd-round:before{
  vertical-align:middle;
  content:'';
  height:113%;
  width:0;
  display:inline-block;
}
.nd-text{
  vertical-align:middle;
  font-family:sans-serif;
  font-size:2.5em !important;
  text-transform:uppercase;
  display:inline-block;
}

/********** Rotation Left **********/
.nd-rtl{
  -webkit-transform:rotate(-180deg);
     -moz-transform:rotate(-180deg);
      -ms-transform:rotate(-180deg);
       -o-transform:rotate(-180deg);
          transform:rotate(-180deg);
}
/********** Rotation Right **********/
.nd-rtr{
  -webkit-transform:rotate(-60deg);
     -moz-transform:rotate(-60deg);
      -ms-transform:rotate(-60deg);
       -o-transform:rotate(-60deg);
          transform:rotate(-60deg);
}


/********** Colors **********/

/********** White Node **********/
.nd-white .nd-round{
  background:#fff;
}
.nd-white .nd-text{
  color:#46483e;
}
.nd-white .nd-color{
  color:#8cc84b;
}

/********** Green Node **********/
.nd-green .nd-round{
  background:#8cc84b;
}
.nd-green .nd-text{
  color:#46483e;
}
.nd-green .nd-color{
  color:#fff;
}

/********** Gray Node **********/
.nd-gray .nd-round{
  background:#46483e;
}
.nd-gray .nd-text{
  color:#fff;
}
.nd-gray .nd-color{
  color:#8cc84b;
}


/********** Layout Styles **********/
body{
  background:#222;
  text-align:center;
  margin:1em;
}
.line2{
  position:relative;
  margin:-4.375em 0 0 15.75em;
}
.line3{
  position:relative;
  margin-top:-4.375em;
}
.nd{
  margin:0.25em;
}

.circle {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

table {
  width: 100%;
  font: 24px/1.4 Georgia, Serif !important;
  border-collapse: collapse;
  border: 1px solid #fff !important;
  box-shadow: 1px 1px 15px #ccc
}
/* Zebra striping */
tr {
  background: #666;
  border-bottom: 1px solid #fff !important;
}
th {
  background: #333;
  color: white;
  display: none !important;
  font-weight: bold;
}
td {
  padding: 6px;
  border: 1px solid #ccc !important;
  padding: 5px !important;
  font-weight: bold !important;
  text-align: center;
}

img {
  border: 0 !important;
}

ol.labels-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/

    margin: 0;
    margin-left: 1em;
    padding: 0;

    counter-reset: li-counter;
}
ol.labels-list > li{
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: #eaeaea;
}
ol.labels-list > li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;

    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: #464646;
    background-color: #d0d0d0;

    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;

    content: counter(li-counter);
    counter-increment: li-counter;
}
